.alert-principal {
    position: fixed;
    z-index: 10;
    animation: disparition 2s linear forwards;
}



@keyframes disparition {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0; display: none;}
}